<div class="content-area">
<!-- Button to toggle the form visibility -->
  <div *ngIf="isAdmin" class="admin-section">
    <button (click)="togglePostForm()">
      {{ showPostForm ? 'Cancel' : 'Create new post' }}
    </button>

    <!-- Admin post creation form, only visible when 'showPostForm' is true -->
    <div *ngIf="showPostForm" class="post-container">
      <textarea [(ngModel)]="inputTitle" placeholder="Post title..."></textarea>
      <input type="file" (change)="onFileSelected($event)" />
      <textarea [(ngModel)]="inputText" placeholder="Write your post..."></textarea>
      <button (click)="submitPost(inputTitle, inputText)">Submit Post</button>
    </div>
  </div>
  <!-- Conditionally apply cdkDropList only if user is admin -->
  <button *ngIf="hasChanged && isAdmin" (click)="saveOrder()">Uppdatera ordningen</button>
  <div *ngIf="isAdmin; else normalList" cdkDropList (cdkDropListDropped)="drop($event)">

    <!-- Loop through posts with drag functionality for admin -->

    <app-content-box

      *ngFor="let post of posts"
      [_id]="post._id"
      [title]="post.title"
      [text]="post.text"
      [author]="post.author"
      [isAdmin]="isAdmin"
      (postDeleted)="onPostDeleted()">

    </app-content-box>
  </div>

  <!-- Non-admin view without drag-and-drop -->
  <ng-template #normalList>
    <div>
      <app-content-box
        *ngFor="let post of posts"
        [_id]="post._id"
        [title]="post.title"
        [text]="post.text"
        [author]="post.author"
        [isAdmin]="isAdmin"
        (postDeleted)="onPostDeleted()">
      </app-content-box>
    </div>
  </ng-template>


</div>
