<div class="side-panel">
  <div class="logo-container">
    <img src="assets/images/SwishLogoPrimaryPNG.png" alt="Swish Logo">
    <p class="swish-description">Bidra till Fullsjöns Byalag och bli medlem genom att swisha 100 kr till: </p>
    <p class="swish-description">Marie Jakobsson: 0738195006</p>
  </div>
  <div class="logo-container">
    <img src="assets/images/SkyltHjartstartare.jpg" alt="Heartstarter">
    <p class="heartstarter-description">Hjärtstartare finns på Gränsgården</p>
  </div>
</div>
