<app-header></app-header>
<h2>Admin Panel</h2>
<!-- Textarea for input -->
<textarea
  class="text-input"
  placeholder="Type your text here..."
  [(ngModel)]="inputText"
  (input)="adjustHeight($event)">
</textarea>
<br>
<button (click)="submitText()">Submit</button>
<div class="dropdown">
  <label for="category-select">Choose a category:</label>
  <select id="category-select" [(ngModel)]="selectedCategory"> <!-- Two-way data binding -->
    <option value="" disabled selected>Select a category</option> <!-- Default option -->
    <option *ngFor="let category of items" [value]="category.title">{{ category.title }}</option>
  </select>
</div>
<h3>Posts</h3>
<table>
  <thead>
    <tr>
      <th>Text</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.text }}</td>
      <td>{{ post.author }}</td>
      <td>
        <button (click)="deletePost(post._id)">X</button> <!-- Delete button -->
      </td>
    </tr>
  </tbody>
</table>
