:root {
  font-size: 16px; // 1 rem = 16px
}

h1 {
  text-align: center;
  top: 0; /* Places it at the top */
  left: 50%; /* Moves the element to the center horizontally */
  font-size: 30px; /* Sets the font size to 30px */
  margin: 0; /* Removes default margin */
  padding: 2em 0; /* Optional padding for spacing */
}

// Style for the dropdowns
.dropdown {
  margin-bottom: 1.25rem; // 20px converted to rem
  label {
    display: block;
    margin-bottom: 0.3125rem; // 5px converted to rem
    font-weight: bold;
  }
  select {
    width: 100%;
    padding: 0.625rem; // 10px converted to rem
    border: 1px solid #ccc;
    border-radius: 0.25rem; // 4px converted to rem
    font-size: 1rem; // 16px as base font size
  }
}

// Container for the new item buttons and inputs
.new-item-container {
  display: flex;
  flex-direction: column; // Stack buttons and inputs vertically
  gap: 1.25rem; // 20px converted to rem

  // Individual button/input sections
  .new-option,
  .edit-category,
  .new-category {
    display: flex;
    flex-direction: column; // Stack button and input vertically

    // Button style
    button {
      background-color: #007bff; // Bootstrap primary color
      color: white;
      border: none;
      padding: 0.625rem; // 10px converted to rem
      cursor: pointer;
      font-size: 1rem; // 16px as base font size
      border-radius: 0.25rem; // 4px converted to rem

      &:hover {
        background-color: #0056b3; // Darker blue on hover
      }
    }
    .submitButton {
      background-color: #088026; // Bootstrap primary color
      color: white;
    }

    // Input group for new option/category
    .input-group {
      display: flex;
      flex-direction: column; // Stack inputs vertically
      gap: 0.625rem; // Space between inputs

      input, select {
        padding: 0.625rem; // 10px converted to rem
        border: 1px solid #ccc;
        border-radius: 0.25rem; // 4px converted to rem
        font-size: 1rem; // 16px as base font size
      }
    }
  }
}
