<nav class="navContainer">
  <ul class="listContainer">
    <!-- Loop through categories -->
    <li *ngFor="let category of list" class="listItem">
      <!-- Category header -->
      <a class="listText" (click)="category.showDropdown = !category.showDropdown">
        {{ category.category }}
      </a>

      <!-- Options under the category, shown when the category is clicked -->
      <ul class="hoverList" *ngIf="category.showDropdown">
        <li *ngFor="let option of category.items" class="hoverListItem">
          <a class="hoverListText" [routerLink]="'/' + option.path">
            {{ option.title }}
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>
