/* Styling for the header */
header {
  //width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  height: 6rem; /* Adjust this as necessary */
  background-color: gray; /* Matching background color */
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  flex-direction: column;
  padding: 0%;
  margin: 0%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow for separation from the page */
}

.headerTitle {
  font-size: 24px;
  color: black; /* White text for the title */
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.headerTitleContainer {
  margin-bottom: 10px; /* Slight margin between title and nav */
  text-align: center;
}

/* Navigation container inside the header */
app-nav {
  width: 100%;
  max-width: 800px; /* Limiting the width of the navigation */
  padding: 0%;
  margin: 0%;
  display: flex;
  justify-content: center;
}
