.headerTitle {
  font-size: larger;
}

.headerTitleContainer {
  margin: auto;
}

header {
  width: 100%;
  height: 10rem;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

// i hate this but i dont want to put more time on trying to fix it
app-nav {
  width: 100%;
}
