<div class="content-box" cdkDrag>
  <!-- Drag handle for reordering -->
  <div class="example-handle" cdkDragHandle>
    <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
      <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
      <path d="M0 0h24v24H0z" fill="none"></path>
    </svg>
  </div>

  <h1 [innerHTML]="formatText(title)"></h1>
  <p [innerHTML]="formatText(text)"></p>

  <div *ngIf="isAdmin" class="admin-actions">
    <button (click)="editPost()">Edit</button>
    <button (click)="deletePost(this._id)">Ta bort</button>
  </div>

  <!-- Edit form -->
  <div *ngIf="isEditing" class="edit-form">
    <input [(ngModel)]="editedTitle" placeholder="Edit Title" />
    <textarea [(ngModel)]="editedText" placeholder="Edit Text"></textarea>
    <button (click)="submitEdit()">Submit</button>
  </div>
</div>
